<h3 class="ui header">{{t "forms.i-i-s-snezhana-8-заказ-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-snezhana-8-заказ-e.дата-caption"}}</label>
    {{flexberry-simpledatetime
      type="date"
      readonly=readonly
      value=model.дата
      class=(if (v-get validationModel "дата" "isInvalid") "error")
      data-test-i-i-s-snezhana-8-заказ-e-дата=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "дата" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.номерЗаказа
      class=(if (v-get validationModel "номерЗаказа" "isInvalid") "error")
      label=(t "forms.i-i-s-snezhana-8-заказ-e.номерЗаказа-caption")
      data-test-i-i-s-snezhana-8-заказ-e-номерЗаказа=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "номерЗаказа" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-snezhana-8-заказ-e.клиент-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.клиент
      displayAttributeName="фамилия"
      autocomplete=true
      relationName="клиент"
      projection="КлиентL"
      title=(t "forms.i-i-s-snezhana-8-заказ-e.клиент-caption")
      readonly=readonly
      componentName="клиентLookup"
      class=(if (v-get validationModel "клиент" "isInvalid") "error")
      data-test-i-i-s-snezhana-8-заказ-e-клиент=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "клиент" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-snezhana-8-заказ-e.менеджер-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.менеджер
      displayAttributeName="фамилия"
      autocomplete=true
      relationName="менеджер"
      projection="МенеджерL"
      title=(t "forms.i-i-s-snezhana-8-заказ-e.менеджер-caption")
      readonly=readonly
      componentName="менеджерLookup"
      class=(if (v-get validationModel "менеджер" "isInvalid") "error")
      data-test-i-i-s-snezhana-8-заказ-e-менеджер=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "менеджер" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-snezhana-8-заказ-e.доставка-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.доставка
      displayAttributeName="типДоставки"
      autocomplete=true
      relationName="доставка"
      projection="ДоставкаL"
      title=(t "forms.i-i-s-snezhana-8-заказ-e.доставка-caption")
      readonly=readonly
      componentName="доставкаLookup"
      class=(if (v-get validationModel "доставка" "isInvalid") "error")
      data-test-i-i-s-snezhana-8-заказ-e-доставка=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "доставка" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-snezhana-8-заказ-e.оплата-caption"}}</label>
    {{flexberry-groupedit
      componentName="оплатаGroupEdit"
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.оплата
      content=model.оплата
      readonly=readonly
      orderable=false
      class=(if (v-get validationModel "оплата" "isInvalid") "error")
      data-test-i-i-s-snezhana-8-заказ-e-оплата=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "оплата" "message")}}
  </div>
</form>
